<div class="container">

    <div class="row">
        {{#if userCart}}
            <div class="row">
                <div class="col-md-12 mt-3 text-right">
                    <a href="/checkout" class="btn btn-primary ml-auto" onclick="confirm('Proceed to checkout ?')">Checkout</a>
                </div>
            </div>
            {{#each userCart}}
                <div class="col-md-3 ml-2">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text">Rs.{{this.price}}</p>
                            <a href="/remove-item/{{this._id}}" class="btn btn-primary" onclick="confirm('Remove from cart ?')">Remove</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>

</div>